{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>{% block title %}SkillBridge EMS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<div class="app">
    <aside class="sidebar">

        <div class="brand">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="SkillBridge Logo">
            </div>

            <div class="brand-text">
                <strong>SKILLBRIDGE</strong>
                <span>EMPLOYEE MANAGEMENT</span>
            </div>

        </div>


        {% if user.is_authenticated %}

        <nav class="navigation">
            <a href="{% url 'employee_list' %}" class="nav-link active">
                <span>▦</span>
                Dashboard
            </a>

            <a href="{% url 'employee_list' %}" class="nav-link">
                <span>♙</span>
                Employees
            </a>
        </nav>
        {% endif %}
        <div class="sidebar-bottom">
            <div class="system-status">
                <span class="status-dot"></span>
                <div>
                    <strong>System Secure</strong>
                    <small>Authenticated session</small>
                </div>
            </div>
        </div>
    </aside>


    <div class="main">
        <header class="topbar">
            <div>
                <span class="small-title">
                    SKILLBRIDGE EMS
                </span>

                <span class="topbar-title">
                    Employee Management System
                </span>
            </div>
            {% if user.is_authenticated %}

            <div class="user-area">
                <div class="avatar">
                    {{ user.username|slice:":1"|upper }}
                </div>

                <div class="user-details">
                    <strong>
                        {{ user.username }}
                    </strong>

                    <small>
                        Authorised user
                    </small>
                </div>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="logout-button" type="submit">
                        Log out
                    </button>
                </form>
            </div>
            {% endif %}
        </header>

        <main class="content">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer">
            <span>
                SkillBridge Software Solutions
            </span>

            <span>
                Employee Management System
            </span>
        </footer>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>