{% extends "base.html" %}
{% block title %}Delete employee | SkillBridge EMS{% endblock %}
{% block content %}
<p>Deletion Validation</p>
<h1>Are you sure you want to Delete {{ employee.first_name }} {{ employee.last_name }}?</h1>
<form method="post" class="form-actions" data-delete-confirm data-employee-name="{{ employee.first_name }} {{ employee.last_name }}">
    {% csrf_token %}
    <button type="submit">Yes, delete them</button>
    <a href="{% url 'employees:employee_detail' employee.pk %}">Cancel</a>
</form>
{% endblock %}